.number_banner {
  position: absolute;
  max-height: 22vh;
  max-width: 22vw;
  margin-top: 25vh;
}

.emptySpace {
  height: 100vh;
}

.emptySpaceHalf {
  height: 50vh;
  z-index: auto;
}

.zeroHeight {
  height: 0vh
}

#moto {
  text-align: center;
  padding-top: 45vh;
  padding-left: 12vw;
  font-size: 8vh;
}

#moto p {
  /*text-align: center;*/
  position: absolute;
  z-index: 16;
  /*opacity: 0;*/
}